/**   Media Queries Large desktop views **/
@media (min-width: 60em) {


	  /***** NAV MENU ****/
nav {
	text-align: right;
}

		nav button {display: none;}

		nav ul#primaryNav {
			display: flex;}




	.banner-pic-home{
		display: block;
		max-width:100%
	}

/**** GRID LAYOUT ****/

.homeBox{
	min-height: 100px;

}
.hidden-sm{
	display: block;
}
.homePage{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* Left Column */
.eventBox{
	grid-column: 1;
	grid-row:1;
}
.weatherBox{
	grid-column: 1;
	grid-row:2;
}
.joinBox{
	grid-column: 1;
	grid-row:3;
}

/* Middle Column */
.heroBox{
	grid-column: 2;
	grid-row:1/3;
}
.newsBox{
	grid-column: 2;
	grid-row:3;
}

/* Right Column */
.spotBox{
	grid-column: 3;
	grid-row: 1/4;
}
.spots {
  display: block;
	height: fit-content;
}

.spotlight{
	height: 250px;
}











}