/*  NAV  */

nav {

	/* background-color: #EABDA8; Desert Sand */
  background-color: #1E2D2F; /* Charleston Green */
 /* background-color: #A85751; /* Redwood */
	text-align: left;

  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Jost', sans-serif;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul.open{display: block;}

nav div {
    flex: 1 1 auto;

}


nav li {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-weight: 200;
}

nav a {
  display: block;
  color: white;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-weight: 200;
}


nav a:hover {
  background-color: #EABDA8; /* Desert Sand */
  color: #972D07; /* Rufous */

}


/************ BUTTONS ************/

/** Hamburger Button Toggle with NO 'X' **/
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

/** Hamburger Button Toggle with 'X' **/
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav button {

  background: #1E2D2F;
  color: #EABDA8;
  border: none;
  margin: 0;
  font-size: 2rem;
  list-style-type: none;
  border-radius: 0;
  align-content: center;
  text-align: left;
}

nav button:hover {

  background: #EABDA8;
  color: #1E2D2F;
  border: none;
  margin: 0;
}


button {
  background-color: #679436; /* Maximum Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 225px;

}

button:hover {
  background: #A85751;
  color: #1E2D2F;

}

button a {
  color: white;
  text-decoration: none;

}

.headerBtn {
  display: flex;
  text-align: center;
}


/**** Logo Header box ****/

.logo-box {
  display: block;
  padding:  15px 15px 10px 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}
/** .logo-box {
  display: grid;
  padding:  15px 15px 10px 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;

} **/


.headerDate {
  display: block;
  color: grey;
  font-size: 12px;
  text-align: center;
  padding: 0;

}




/**  Header **/
header {
  text-align: center;
  align-items: center;
  align-content: center;
}


.banner-pic-home {
  display: none;
}

/**** FOOTER ****/

footer {
  display: block;
  background-color: #1E2D2F; /* Charleston Green */
  text-align: left;
  color: white;
  padding: 20px 10px 60px 0;
}

footer a {
  color: #EABDA8; /* Desert Sand */
  font-size: 12px;
  padding: 20px 10px 60px 0;
  margin: 0 0 5px 45px;
}

footer p {
  margin: 0 0 5px 45px;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
}
footer h6 {
  margin: 45px;
  color: black;
}

footer hr{
  margin: 20px 45px;
  border-color: grey;
}

footer img {
  margin: 0 0 5px 0;
}
/* BODY & MAIN */
body {
  background-color: white;
  font-family: 'Darker Grotesque', sans-serif;

  font-size: 16px;
  color: #1E2D2F; /* Charleston Green */
  margin: 0 auto;

}



main {
  margin: 0px 15px 0px 15px;
  padding: 15px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  color: #972D07; /* Rufous */
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: #A85751; /* Redwood */
}

h3 {

  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #679436; /* Maximum Green */


}

h4 {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #A85751; /* Redwood */

}

h5 {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #679436; /* Maximum Green */
}

h6 {
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  color: #1E2D2F; /* Charleston Green */
}

.persona1 {
  padding: 0;
  margin: 0 0 0 5px;
}
/* table properties */

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding-left: 15px;
  text-align: left;
  vertical-align: top;
  margin-top: 0;
}

.persona-table table, th, td {
  border: 1px solid grey;
  padding: 20px 5px 15px 5px;
  text-align: left;
  vertical-align: top;
}


.colors td {
  height: 60px;
  vertical-align: middle;
}

.persona-table td {
  vertical-align: top;

}
/*  Color Scheme page */

.color-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: left;
  max-width: 500px;
}

.ct-title {
  grid-row: 1;
  grid-column: 1/3;
}
.colors {
  grid-row: 2;
  grid-column:1/3;
}

.table-header {
  background-color: white;
  color: black;
  padding: 10px;
}

.firstary {
  background-color: #972D07; /* Rufous */;
  color: white;
}

.secondary {
    background-color: #A85751; /* Redwood */
    color: white;
  }

.thirdary  {
  background-color: #EABDA8; /* Desert Sand */
  color: white;
}

.fourary  {
  background-color: #679436; /* Maximum Green */
  color: white;
}

.fiveary  {
  background-color: #1E2D2F; /* Charleston Green */
  color: white;
}

/** HOME PAGE **/

.homePage {
  display: block;

}

/*****CLASS IDs ******/
.homeBox {
  background-color: #EABDA8;
  border: 1px solid #EABDA8;
  padding: 2vw;
  margin: 1rem 0;
  min-height: 220px;

}

.spotlight {
  /** SPOTLIGHT - shows on mobile**/
  border: 1px solid white;
  padding: 2vw;
  margin: 0;
  min-height: 200px;

}
/***** ID IDs ******/

  /** HERO - shows on mobile**/

  /** EVENT - shows on mobile**/

  /** WEATHER - shows on mobile**/

  /** NEWS RELEASE - shows on mobile**/

  /** SPOTLIGHT 1 - shows on mobile**/

  /** SPOTLIGHT 2 - shows on mobile**/

  /** SPOTLIGHT 3 & JOIN - does NOT show on mobile.  **/
  /** hidden using class .hidden-sm **/

.hidden-sm{
  display: none;
}
