
/*  NAV  */

header {
  /* display: inline-flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

nav {
	text-align: left;
  color: #FF5722; /* Orange Melon */
  /* display: flex; */
  /* flex-direction: column; */
  font-family: 'Covered By Your Grace', cursive;

}

.hamburgerBtn{
  grid-row: 1;
  grid-column: 1;
  margin-right: auto;
  margin-left: 0;
}

.headerBtn  {
  grid-row: 1;
  grid-column: 3;
  margin-right: 0;
  margin-left: auto;
  padding: 5px 10px;
  background-color: #FF5722;
}

/* .primaryNav {
  grid-row: 2;
  grid-column: 1/3;
} */

.logo {
  justify-self: center;
}

.logo img{
  width: 165px;
  margin-right: 10px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: none;
  margin-left: 0;
  margin-right: auto;
  justify-content: right;
}

nav ul.open{display: block;}

nav div {
    flex: 1 1 auto;
}

nav li {
  display: block;
  color: #FF5722; /* Orange Melon */
  text-align: center;
  padding: 0 10px 40px 0;
  text-decoration: none;
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 200;
}

nav a {
  display: block;
  color: #FF5722;
  text-align: left;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 200;
  line-height: 12px;
}

nav a:hover {
  background-color: none; /* Light Aqua */
  color: #00BCD4; /* Dark Aqua */

}

/* nav a:active {
  background-color: #B2EBF2; /* Light Aqua
} */

/************ BUTTONS ************/

/** Hamburger Button Toggle with NO 'X' **/
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

/** Hamburger Button Toggle with 'X' **/
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav button {
  background: none;
  color: #FF5722; /* Orange Melon */
  border: none;
  margin: 0;
  font-size: 2rem;
  list-style-type: none;
  border-radius: 0;
  align-content: center;
  text-align: left;
}

nav button:hover {
  background: none; /* #00BCD4; /* Dark Aqua */
  color: #00BCD4; /* Dark Aqua */
  border: none;
  margin: 0;
}


/*********** Nav Button *********/

.logo-box button {  /* Logo Header */
  display: none;
}

.headBtnHide {   /* Logo Header */
  display: none;
}




/*************************************/
/*************************************/
/********* OTHER VIEWPORTS ***********/
/*************************************/

@media only screen and (min-width: 601px) {}

@media only screen and (min-width: 1024px) {

  header {  /* Logo Header */
    display: grid;
    text-align: right;
    vertical-align: middle;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
  }

  .logo {  /* Logo Header */
    grid-column: 1;
    grid-row: 1;
    margin-right: auto;
    margin-left: 0;
    align-items: center;
  }
      .logo img {
        width: 250px;
      }


  .lgHead { /*  remove if class not used */
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    vertical-align: middle;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: right;
    text-align: right; */
    }

    nav{
      grid-column: 2;
      grid-row: 1;
      vertical-align: middle;
      justify-content: right;
      padding-top: 5px;
      margin-right: 10px;
      margin-left: auto;
      align-content: right;
    }

    .primaryNav  {
      align-content: right;
    }

    .headerBtn  { /* Logo Header */
      grid-column: 3;
      grid-row: 1;
      text-align: center;
      margin-right: 15px;
      margin-left: auto;
    }

    nav li {
      font-size: 25px;
      justify-items: right;
      padding-left: 50px;
      align-items: right;
    }


        /*     .logo-box button {
      display: flex;
      grid-column: 3;
      grid-row: 1;
      margin-bottom: 0;
      justify-content: center;
    } */

/*********************************/
/******* HIDDEN ELEMENTS *********/
/*********************************/

    nav button {display: none;}

    nav ul#primaryNav {
      display: flex;
    }


}