.homeBlock1 {
  display: block;
  margin-top: 64px;
  /* grid-template-columns: 1fr; */
}

.HB1-h2 {
grid-row: 1;
}

.homeBlock1 img {
  display: none;
}

.HB1-para1 {
  grid-row: 3;
}



.homeBlock2 {
  display: block;
  background-color: #B2EBF2; /* Light Aqua */
  padding: 40px 20px;
  margin: 32px 0;

}
.BlenderCards {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  padding: 32px 10px;
  margin: 20px 0 0 0;

}

.BlenderCards button {
  background-color: #FF5722; /* Orange Melon */
  padding: 10px 5px;
  margin-top: 20px;
  width: 100px;
}

.BlenderCards button:hover {
  background-color: #00BCD4; /* Dark Aqua */
  color: white;
}

.BlenderCards h2 {
  color: #00BCD4; /* Dark Aqua */
  font-size: 25px;
  line-height: 27px;
}

.BlenderCards p {
  color: #434242; /* Rocky Shore */
  font-size: 11px;
  padding: 0 20px;
  margin: 10px 0 0 0;
}

.HB2-c1-Btn {
  margin: 0 0 10px 0;
}

.HB2-c2 {
  justify-content: center;
  align-items: center;
}

.localStorage-field {
  font-size: 16px;
}




.homeBlock3 {
  margin: 32px 0;
}

homeBlock3 h2 {
  margin-top:0;
}

.beach-pic {
  width: 100%;
}

.headerHR {
  margin: 40px 0;
}

.homeBlock4 {
  margin: 32px 0;
    display: block;
    background-color: #B2EBF2; /* Light Aqua */

    padding: 40px 20px;
    text-align: center;

}

.curTemp {
  background-color: #00BCD4; /* Dark Aqua */
  margin: 0 20px;
}

.homeBlock4 p {
  font-size: 120px;
  color: white;
  margin-bottom: 0;
  margin: 0;
  padding-top: 0;
}

.homeBlock4 h2 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 100;
  margin: 0;
  padding: 10px 0 0 0;
  color: white;
}

.homeBlock4 h4 {
  color: white;
  font-size: 20px;
  margin: 0;
}

.weath-HR {
  border-top: 1px solid #D6F4F8;
}


.smoothie-pic {
  margin: 0 0 0 0;
  padding: 0;
}

.smoothie-caption {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18px;
  line-height: 20px;;
  color: #DD2C00; /* Surf Berry */
  margin: 0 0 40px 0;
}

.homeBlock5 {
  display: block;
}

.homeBlock4 h2 {
  font-size: 70px;
  font-weight: 100;
  margin: 0;
  color: white;
}

.homeBlock4 h4 {
  color: white;
  font-size: 30px;
  margin: 0 0 10px 0;
  text-transform: capitalize;
  line-height: 35px;
}

.smallWeather {
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  text-transform: capitalize;
  line-height: 25px;
}

.humid {
  padding-bottom: 20px;
}





.smoothie-pic {
  margin: 0 0 0 0;
  padding: 0;
}






@media only screen and (min-width: 37.5em)  /* Tablet View */ {


.HB1-copy{
  grid-column: 2;
  padding-right:20px;
  margin-right: 20px;
}

.HB1-para1 {
  padding-right: 20px;
  margin-right: 20px;
}

.homeBlock2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}


.homeBlock4 {
  margin: 32px 0;
    display: block;
    background-color: #B2EBF2; /* Light Aqua */
    padding: 40px 20px;
    text-align: center;
}

.curTemp {
  background-color: #00BCD4; /* Dark Aqua */
  margin: 0 20px;
}



.homeBlock4 p {
  font-size: 100px;
  color: white;
  margin-bottom: 0;
  margin: 0;

}


.smoothie-pic {
  margin: 0 0 0 0;
  padding: 0;
}

.smoothie-caption {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18px;
  line-height: 20px;;
  color: #DD2C00; /* Surf Berry */
  margin: 0 0 40px 0;
}





.homeBlock5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}


.smoothie-c1 {
  display: block;
  grid-column: 1;
}

.smoothie-c2 {
  display: block;
  grid-column: 2;
}

.smoothie-c3 {
  display: block;
  grid-column: 3;
}

.smoothie-c4 {
  display: block;
  grid-column: 4;
}





  }



@media only screen and (min-width: 64em) /* 1024px */ {

  .homeBlock1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    /* background-color: #E6FCFF; /* Pale Ocean Froth */

  }

  .HB1img {
    grid-column: 1;
    width: 100%;
  }

  .homeBlock1 img {
    display: block;
  }

  .homeBlock2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #B2EBF2; /* Light Aqua */
    padding: 40px 20px;
    margin: 32px 0;

  }

  .HB2-c1 {
    grid-column: 1;
    grid-row: 1;
  }

  .HB2-c2 {
    grid-row: 1;
    grid-column: 2;
    border-left: 1px solid white;
    display: block;
    text-align: center;
    align-items: center;
  }

  .HB2-c3 {
    grid-row: 1;
    grid-column: 3;
    border-left: 1px solid #D6F4F8;
  }

  .HB2-c4 {
    grid-row: 1;
    grid-column: 4;
    border-left: 1px solid #D6F4F8;
  }



  .homeBlock3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

  }

  .HB3-c1 {
    grid-column: 1;

  }

  .beach-pic {
    margin-top: 64px;
  }

  .HB3-c2 {
    grid-column: 2;
  }



/************** Home Block 4 - WEATHER ****************/

.homeBlock4 {
  display: grid;
    grid-template-columns: 1fr 2fr;
}

.HB4-col1 /* CURRENT TEMP BOX */ {
  grid-column: 1;
  grid-row: 1/7;
}


.HB4-day1 /* Start of 3-DAY FORECAST */ {
  grid-column: 2;
  grid-row: 1;
  justify-content: start;
  justify-items: start;
  text-align: left;
  align-content: left;
  align-items: left;
}

/******** May not be using for cards....
.HB4-day2 {
  grid-column: 2;
  grid-row: 2;
}

.HB4-day3 {
  grid-column: 2;
  grid-row: 3;
}

.HB4-day4 {
  grid-column: 2;
  grid-row: 4;
}

.HB4-day5 {
  grid-column: 2;
  grid-row: 5;
}

.HB4-day6 {
  grid-column: 2;
  grid-row: 6;
}
**********************/








  }