/**********************************************/
/************* DIRECTORY PAGE *****************/
.directoryPage {
  text-align: center;
}
.theDirectory {
  padding: 0 20px;
  text-align: right;
}

.directoryOptons {
  /* background-color: #F5F4E8; */
  margin-bottom: 10px;
}
.material-symbols-outlined {
  padding: 10px 0;
}

.directoryBtn {
  background: none;
  color: #1E2D2F;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  width: 30px;
}

.directoryBtn:hover {
  background: none;
  color: #972D07;
}

/************** DIRECTORY CARDS ****************/
.Mcards {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  min-width: 275px;
}

section {
  box-shadow: 1px 1px 4px 1px #888;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

}
section img {
  height: 100px;
  margin: 10px 0;
  max-width: 280px;
  border-radius: 5px;
  padding: 10px 15px 20px 15px;
}

/**************** DIRECTORY Table ******************/
