@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600&family=Darker+Grotesque&display=swap');

:root {
  /* Color palette */
  --primary-color: #555358; /*Davys Grey*/
  --secondary-color:  #CEA2AC; /*Tuscany*/
  --accent1-color: #5F6062; /*Granite Gray*/
  --accent2-color: #E56399; /*China Pink*/
  --accent3-color: #D3F3EE; /*Light Cyan*/


  /* Fonts */
  --heading-font: 'Cormorant Unicase', serif;
  --paragraph-font: 'Darker Grotesque', sans-serif;

  /* Headline Color Palett */
  --headline-color-on-white: #555358; /*Davys Grey*//* headlines on a white background */
  --headline-color-on-color: #E56399; /*China Pink*/ /* headlines on a colored background */
  --paragraph-color-on-white: #000000; /*Oxford Blue*/ /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #CEA2AC; /*Tuscany*/
  --nav-link-color: #E56399; /*China Pink*/
  --nav-background-color: white;
  --nav-hover-link-color:  #5F6062; /*Granite Gray*/
  --nav-hover-background-color: white;
}
