@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600&family=Darker+Grotesque&display=swap');


body {
  background-color: white;
  font-family: 'Darker Grotesque', sans-serif;
  padding: 5px 25px;
  font-size: 20px;
  margin: 0;
  color: #000000;
}

/* FONTS & STYLES */

h1 {
  font-family: 'Comorant Unicase', serif;
  color: #555358; /*Davys Grey*/
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 32px;
  text-align: center;
}

h2 {
  font-family: 'Cormorant Unicase', serif;
  color: #E56399; /*China Pink*/
  font-size: 35px;
}

h3 {
  font-family: 'Darker Grotesque', sans-serif;
  color: #CEA2AC; /*Tuscany*/
  font-size: 25px;

}

h4 {
  font-family: 'Cormorant Unicase', serif;
  color: #555358; /* Davys Grey */
  font-size: 20px;

}

h5 {
  font-family: 'Darker Grotesque', sans-serif;
  color: #5F6062; /*Granite Gray*/
  font-size: 20px;

}

h6 {
  font-family: 'Darker Grotesque', serif;
  color: #CB8589; /*Old Rose*/
  font-size: 15px;
}

p {
  font-family: 'Darker Grotesque', serif;
  color: #555358; /* Davys Grey */
  font-size: 25px;
  font-weight: 400;
}

a ul {
  text-decoration: none;
}


/*  HOME PAGE GRID LAYOUT */


header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  Background: #ffffff;
}


main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: #ffffff;
}



.banner-box {
  grid-row: 1;
  grid-column: 2/5;
  background:  #555358; /* Davys Grey */
  border-radius: 14px;
  border-style: solid;
  border-color: white;
}

.banner-box img {
  grid-column: 2;
  grid-row: 1;
  margin: 1em 1em 1em 1em;
  padding: 0px;
  justify-self: right;
  border-radius: 14px;
  box-shadow: 2px 2px 4px #2C3333; /* Davys Grey */



}

h1 {
  color: #ffffff; /* white */
}

.headline {
  grid-column: 2/5;
  grid-row: 1;
  text-align: left;
  text-shadow: 2px 2px 4px #2C3333;
  padding-top: 2em;

}

.the-list{
  grid-row: 2;
  grid-column: 2/5;
}

.lesson-links {
  grid: row 3;
  grid-column: 2/5;
}

.lesson-links a {
  color: #E56399; /*China Pink*/
  font-size: 22px;
  font-weight: 400;
}
.the-list hr {
  border-color: #555358; /* Davys Grey */
  border-style: dashed;
  border-width: thin;

}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;


}

footer p{
  grid-row: 4;
  grid-column: 2/5;
  background: #555358; /* Davys Grey */
  text-align: center;
  border-radius: 14px;
  padding: 1em;
  font-size: 18px;
  color: #ffffff;
}
